{% extends "@checkout/layout.twig" %}
{% import "@checkout/checkout/_macros.twig" as checkout %}

{% block title %}
    <h3>hi i am a form title</h3>
{% endblock %}

{% block content %}
    <div class="row columns">

        {{ form_start(smashedUpForm, { attr: { id: 'smashed-up-form' }}) }}
        {{ form_row(smashedUpForm.smashed_up) }}

        <div class="callout">
            <div class="row align-right">
                <div class="small-12 medium-6 large-4 xlarge-3 columns">
                    <a href="{{ previousStepUrl }}" class="button expanded __no-margin-bottom">{{ 'general.back.button' | trans }}</a>
                </div>
                <div class="small-12 medium-6 large-4 xlarge-3 columns">
                    <button type="submit" class="button success expanded __no-margin-bottom">{{ 'checkout.step.shipping' | trans }}</button>
                </div>
            </div>
        </div>

        {{ form_end(smashedUpForm) }}
    </div>
{% endblock %}
